<?xml version="1.0"?>
<config>
    <modules>
        <Ambimax_CashOnPickup>
            <version>1.0.0</version>
        </Ambimax_CashOnPickup>
    </modules>
    <global>
        <blocks>
            <ambimax_cashonpickup>
                <class>Ambimax_CashOnPickup_Block</class>
            </ambimax_cashonpickup>
        </blocks>
        <helpers>
            <ambimax_cashonpickup>
                <class>Ambimax_CashOnPickup_Helper</class>
            </ambimax_cashonpickup>
        </helpers>
        <models>
            <ambimax_cashonpickup>
                <class>Ambimax_CashOnPickup_Model</class>
            </ambimax_cashonpickup>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Ambimax_CashOnPickup>
                    <files>
                        <default>Ambimax_CashOnPickup.csv</default>
                    </files>
                </Ambimax_CashOnPickup>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Ambimax_CashOnPickup>
                    <files>
                        <default>Ambimax_CashOnPickup.csv</default>
                    </files>
                </Ambimax_CashOnPickup>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <ambimax_cashonpickup>
                <model>ambimax_cashonpickup/method_cash</model>
                <active>0</active>
                <order_status>pending</order_status>
                <title>Cash On Pickup</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </ambimax_cashonpickup>
        </payment>
        <carriers>
            <ambimax_cashonpickup>
                <model>ambimax_cashonpickup/carrier_pickup</model>
                <active>0</active>
                <title>Pickup</title>
                <method_title>Pickup At Our Store</method_title>
                <price>0</price>
                <sort_order>10</sort_order>
            </ambimax_cashonpickup>
        </carriers>
    </default>
</config>
